src/conf/xml-resources/web-service-references/soapService/wsdl/localhost_8080/soapService/soapService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.video.isdcm/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.video.isdcm/" name="soapService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.video.isdcm/" schemaLocation="http://localhost:8080/soapService/soapService?xsd=1"/>
</xsd:schema>
</types>
<message name="searchByTitle">
<part name="parameters" element="tns:searchByTitle"/>
</message>
<message name="searchByTitleResponse">
<part name="parameters" element="tns:searchByTitleResponse"/>
</message>
<message name="searchByAutor">
<part name="parameters" element="tns:searchByAutor"/>
</message>
<message name="searchByAutorResponse">
<part name="parameters" element="tns:searchByAutorResponse"/>
</message>
<message name="searchByYear">
<part name="parameters" element="tns:searchByYear"/>
</message>
<message name="searchByYearResponse">
<part name="parameters" element="tns:searchByYearResponse"/>
</message>
<portType name="soapService">
<operation name="searchByTitle">
<input wsam:Action="http://soap.video.isdcm/soapService/searchByTitleRequest" message="tns:searchByTitle"/>
<output wsam:Action="http://soap.video.isdcm/soapService/searchByTitleResponse" message="tns:searchByTitleResponse"/>
</operation>
<operation name="searchByAutor">
<input wsam:Action="http://soap.video.isdcm/soapService/searchByAutorRequest" message="tns:searchByAutor"/>
<output wsam:Action="http://soap.video.isdcm/soapService/searchByAutorResponse" message="tns:searchByAutorResponse"/>
</operation>
<operation name="searchByYear">
<input wsam:Action="http://soap.video.isdcm/soapService/searchByYearRequest" message="tns:searchByYear"/>
<output wsam:Action="http://soap.video.isdcm/soapService/searchByYearResponse" message="tns:searchByYearResponse"/>
</operation>
</portType>
<binding name="soapServicePortBinding" type="tns:soapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByAutor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="soapService">
<port name="soapServicePort" binding="tns:soapServicePortBinding">
<soap:address location="http://localhost:8080/soapService/soapService"/>
</port>
</service>
</definitions>