web/WEB-INF/wsdl/localhost_8080/soapService/soapService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.video.isdcm/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.video.isdcm/">

<xs:element name="searchByAutor" type="tns:searchByAutor"/>

<xs:element name="searchByAutorResponse" type="tns:searchByAutorResponse"/>

<xs:element name="searchByTitle" type="tns:searchByTitle"/>

<xs:element name="searchByTitleResponse" type="tns:searchByTitleResponse"/>

<xs:element name="searchByYear" type="tns:searchByYear"/>

<xs:element name="searchByYearResponse" type="tns:searchByYearResponse"/>

<xs:complexType name="searchByTitle">
<xs:sequence>
<xs:element name="searchText" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByTitleResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="video">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="duracion" type="xs:long" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="formato" type="xs:string" minOccurs="0"/>
<xs:element name="reproducciones" type="xs:int" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByYear">
<xs:sequence>
<xs:element name="searchYear" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByYearResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAutor">
<xs:sequence>
<xs:element name="searchText" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAutorResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>